#header {
	width: 100%;
	height: 330px;
	background: -moz-linear-gradient(top, #6DAFC7 0%, #AFC672 100%);
	background: -webkit-linear-gradient(top, #6DAFC7 0%, #AFC672 100%); /* WebKit, Blink, Edge */
	background: -o-linear-gradient(top, #6DAFC7 0%, #AFC672 100%);
	background: -ms-linear-gradient(top, #6DAFC7 0%, #AFC672 100%); /* Internet Explorer 10-11 */
	background: linear-gradient(to bottom, #6DAFC7 0%, #AFC672 100%);
	padding-top: 80px;
	color: #fff;
}
.header_wrap {
	max-width: 1000px;
	margin-left: auto;
	margin-right: auto;
	position: relative;
}
.header_tittel {
	z-index: 4;
}
.header_tittel h1 {
	font-size: 45pt;
}
.header_img {
	margin-left: -130px;
}
#wrapper {
	max-width: 1000px;
	margin-left: auto;
	margin-right: auto;
	padding-top: 90px;
	padding-left: 10px;
	padding-right: 10px;
}
#main {
	min-height: 400px;
}
#main h1 {
	color: #000;
}