/* 
Huskeliste:
background: #f5756c, #fd5481;
display:flex; display: inline-flex, align-content, align-items, align-self, justify-content and order.
http://caniuse.com/#home
http://shouldiprefix.com/#gradients

#6DAFC7 #a4cddc
 */

/* =============== Header =============== */
#header {
    width: 100%;
    height: 100vh;
    position: relative;
    overflow: hidden;
}

#header_search_outer {
    width: 100%;
    height: 200px;
    font-family: 'Montserrat', sans-serif;
    position: absolute;
    z-index: 3;
}

.header_search_logo {
    position: relative;
    width: 200px;
    height: auto;
    z-index: 2;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    user-drag: none;
    user-select: none;
    -moz-user-select: none;
    -webkit-user-drag: none;
    -webkit-user-select: none;
    -ms-user-select: none;
}

.header_search_inner {
    width: 400px;
    height: auto;
    margin-left: auto;
    margin-right: auto;
    margin-top: 25vh;
    position: relative;
    z-index: 4;
    padding: 10px;
    text-align: center;
    color: #fff;
    font-size: 34pt;
    overflow: hidden;
}
.header_search_inner h2{
    color: #fff;
    font-size: 34pt;
    overflow: hidden;
}

.arrow {
    position: absolute;
    z-index: 999;
    bottom: 10px;
    left: 0;
    right: 0;
    margin-left: auto;
    margin-right: auto;
    width: auto;
    height: auto;
}

.arrow_wave {
    display: inline-block;
    font-size: 0;
    left: 0;
    right: 0;
    margin-left: auto;
    margin-right: auto;
    width: 100%;
    height: auto;
}

.arrow_wave span {
    display: block;
    position: relative;
    height: 10px;
    width: 16px;
    left: 0;
    right: 0;
    margin-left: auto;
    margin-right: auto;
}

.arrow_wave span::before,
.arrow_wave span::after {
    display: block;
    content: "";
    position: absolute;
    height: 2px;
    width: 12px;
    background: #fff;
}

.arrow_wave span::before {
    top: -2px;
    left: 0;
    -webkit-transform-origin: left center;
            transform-origin: left center;
    -webkit-transform: rotate(45deg);
            transform: rotate(45deg);
}

.arrow_wave span::after {
    top: -2px;
    right: 0;
    -webkit-transform-origin: right center;
            transform-origin: right center;
    -webkit-transform: rotate(-45deg);
            transform: rotate(-45deg);
}

.arrow_wave span:nth-child(1n) {
    -webkit-animation: animate_arrow_wave 2s infinite;
            animation: animate_arrow_wave 2s infinite;
    -webkit-animation-delay: .25s;
            animation-delay: .25s;
}

.arrow_wave span:nth-child(2n) {
    -webkit-animation: animate_arrow_wave 2s infinite;
            animation: animate_arrow_wave 2s infinite;
    -webkit-animation-delay: .50s;
            animation-delay: .50s;
}

.arrow_wave span:nth-child(3n) {
    -webkit-animation: animate_arrow_wave 2s infinite;
            animation: animate_arrow_wave 2s infinite;
    -webkit-animation-delay: .75s;
            animation-delay: .75s;
}

@-webkit-keyframes animate_arrow_wave {
    0% {
        opacity: 0.4;
    }
    25% {
        opacity: 0.4;
    }
    50% {
        opacity: 0.4;
    }
    75% {
        opacity: 1.0;
    }
    100% {
        opacity: 0.4;
    }
}

@keyframes animate_arrow_wave {
    0% {
        opacity: 0.4;
    }
    25% {
        opacity: 0.4;
    }
    50% {
        opacity: 0.4;
    }
    75% {
        opacity: 1.0;
    }
    100% {
        opacity: 0.4;
    }
}

input[type=text] {
    width: 350px;
    border: 0;
    color: #fff;
    font-size: 20pt;
    font-weight: 400;
    text-align: center;
    -webkit-transition: 0.5s ease-in-out;
    transition: 0.5s ease-in-out;
    font-family: 'Montserrat', sans-serif;
    background: transparent;
    padding-bottom: 5px;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 5px;
    padding-right: 5px;
    background: #000;
    opacity: 0.7;
}

input[type=text]:focus {
    width: 380px;
    outline: 0;
    opacity: 0.9;
}

input[type=text]::-webkit-slider-thumb {
    -webkit-appearance: none;
}

::-webkit-input-placeholder { /* WebKit, Blink, Edge */
    color: #efefef;
}

:-moz-placeholder { /* Mozilla Firefox 4 to 18 */
    color: #efefef;
    opacity: 1;
}

::-moz-placeholder { /* Mozilla Firefox 19+ */
    color: #efefef;
    opacity: 1;
}

:-ms-input-placeholder { /* Internet Explorer 10-11 */
    color: #efefef;
}

input[type=submit] {
    display: none;
}

.fullscreen_bg {
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    overflow: hidden;
    z-index: -100;
}

.fullscreen_bg_video {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

@media (min-aspect-ratio: 16/9) {
    .fullscreen_bg_video {
        height: 300%;
        top: -100%;
    }
}

@media (max-aspect-ratio: 16/9) {
    .fullscreen_bg_video {
        width: 300%;
        left: -100%;
    }
}

@media (max-width: 500px) {
    .fullscreen_bg {
        background: url('/img/vulkan.jpg') center center / cover no-repeat;
    }

    .fullscreen_bg_video {
        display: none;
    }
}

/* =============== UNDER HEADER =============== */

#wrapper {
    background: transparent;
    position: relative;
    width: 100%;
}

#main {
    background: #fff;
    max-width: 1100px;
    min-width: 400px;
    min-height: 500px;
    margin-left: auto;
    margin-right: auto;
    padding: 20px;
    padding-bottom: 50px;
}

#mainflex {
    width: 100%;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -ms-flex-pack: distribute;
        justify-content: space-around;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    height: auto;
    -ms-flex-line-pack: stretch;
        align-content: stretch;
    -webkit-filter: saturate(0.5);
            filter: saturate(0.5);
}

.mainflex_item {
    -webkit-box-flex: 1;
        -ms-flex-positive: 1;
            flex-grow: 1;
    -ms-flex-negative: 0;
        flex-shrink: 0;
    height: auto;
    width: 220px;
    padding-top: 5px;
    padding-bottom: 5px;
    margin-right: 20px;
    margin-top: 25px;
    -webkit-box-shadow: 0px 0px 21px -8px rgba(0,0,0,0.75);
    box-shadow: 0px 0px 21px -8px rgba(0,0,0,0.75);
}

.hide_button {
    background: transparent;
    border: 0;
}

.imgdesc_main {
    position: absolute;
    margin-top: -80px;
    font-family: 'Montserrat', sans-serif;
    font-weight: 400;
    font-size: 20pt;
    color: #000;
    margin-left: 5px;
    background: #fff;
    padding: 10px;
}

#main_info {
    width: 100%;
    height: 450px;
    padding-top: 20px;
    padding-bottom: 20px;
    background: url(../img/backgrounds/main_down.png);
    overflow: hidden;
}

.main_info_wrap {
    max-width: 1000px;
    margin-left: auto;
    margin-right: auto;
    text-align: right;
    color: #000;
}

.main_info_wrap h1 {
    font-size: 30pt;
    text-align: right;
    margin-top: 50px;
}

.main_info_wrap a {
    padding-bottom: 10px;
    font-family: 'Montserrat', sans-serif;
    font-size: 10pt;
    color: #000;
    outline: 0;
    background: transparent;
    -webkit-transition: 0.3s ease-in-out;
    transition: 0.3s ease-in-out;
    border-bottom: 2px solid #222;
    text-decoration: none;
}

.main_info_wrap a:hover {
    padding-bottom: 10px;
    background: transparent;
    border-bottom: 2px solid #fff;
    color: #000;
    outline: 0;
    cursor: pointer;
}

.ui-autocomplete {
    height: 150px;
    overflow-y: scroll;
    background: #fff;
    opacity: 0.5;
    border: 0;
}
.ui-menu-item {
    background: #fff;
    border: 0;
    outline: 0;
}
.ui-menu-item a:hover {
    border: 0;
    outline: 0;
}
.ui-menu-item-wrapper {
    outline: 0;
}