
/* =============== HEADER =============== */
#header {
    width: 100%;
    height: 400px;
    background: #6DAFC7;
    color: #fff;
    position: relative;
}
/* =============== INFORMASJON PÅ TOPPEN / BILDE =============== */
#top_info {
    min-width: 400px;
    max-width: 900px;
    padding-left: 20px;
    padding-right: 20px;
    background: transparent;
    padding-bottom: 20px;
    margin-top: 0px;
    margin-left: auto;
    margin-right: auto;
    z-index: -1;
}

#top_info hr {
    width: 240px;
    border: 0;
    height: 1px;
    background: #ddd;
    margin-left: -20px;
}

.top_thumbnail {
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 35px;
    border-radius: 10px;
    margin-top: -70px;
}

.thumbnail_radius {
    border-radius: 1px;
    border: 10px solid #fff;
    -webkit-box-shadow: 0px 0px 21px -8px rgba(0,0,0,0.75);
    box-shadow: 0px 0px 21px -8px rgba(0,0,0,0.75);
}

.top_address {
    text-align: center;
    font-family: 'Montserrat', sans-serif;
    font-weight: 300;
    color: #444;
}
.top_info {
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    margin-top: 30px;
    margin-bottom: 0px;
}

.tlf {
    margin-top: -30px;
    margin-left: 35px;
    margin-bottom: 0;
}
.tlf_img {
    margin-left: -140px;
}
.social {
    -webkit-filter: grayscale(1);
            filter: grayscale(1);
    -webkit-transition: 0.5s;
    transition: 0.5s;
}
.social {
    -webkit-filter: grayscale(0);
            filter: grayscale(0);
}

/* =============== TILBAKEKNAPP =============== */

#go_back {
    position: absolute;
    margin-top: 100px;
    z-index: 30;
    padding-top: 10px;
    padding-bottom: 20px;
    padding-left: 10px;
    padding-right: 10px;
    background: #fff;
    width: 72.5px;
    height: 15px;
    overflow: hidden;
    -webkit-transition: width 0.1s;
    -webkit-transition: width 1s;
    transition: width 1s;
    line-height: 28px;
    font-family: 'Montserrat';
    white-space: nowrap;
    color: #000;
}

#go_back a {
    position: absolute;
    text-decoration: none;
    color: #000;
    -webkit-transition: 1s;
    transition: 1s;
}

#go_back:hover {
    width: 240px;
}
/* =============== UNDER HEADER =============== */
#wrapper {
    max-width: 1100px;
    min-height: 650px;
    height: 100%;
    margin-left: auto;
    margin-right: auto;
    position: relative;
}

#main {
    min-width: 400px;
    max-width: 800px;
    margin-top: 20px;
    margin-left: auto;
    margin-right: auto;
    height: auto;
}

.place_title {
    font-family: 'Montserrat', sans-serif;
    font-weight: 500;
    font-size: 2.5em;
    margin-bottom: 20px;
    text-align: center;
}
.place_title a, a:visited, a:link {color: #000; text-decoration: none;}

/* =============== ÅPNINGSTIDER =============== */
.time_open_close {
    padding: ;
    width: 300px;
    height: auto;
    background: #aec671;
    margin-top: 30px;
    margin-bottom: 0px;
    padding: 10px;
    position: relative;
}
.time_open_close h2 {
    color: #fff;
    text-align: center;
    font-size: 25pt;
    margin-top: -10px;
}
.time_open_close h3 {
    color: #fff;
    text-align: center;
    font-size: 12pt;
}
.timetable {
    width: 320px;
}
.timetable h3 {
    font-size: 11pt;
}
.accordion {
    margin: 0px;
    background: #f2f2f2;
    text-align: center;
    padding: 10px;
}
.accordion dt {
    margin-bottom: 0;
    position: relative;
}
.accordion dt h2 {
    margin-left: 0px;
    cursor: pointer;
}
.accordion dt, .accordion dd {
    border: 0px solid black;
    border-bottom: 0;
}
.accordion dt a, .accordion dd a {
    display: block;
    color: #000;
    text-decoration: none;
}
.accordion dd {
    border-top: 0;
    margin-left: 0;
}
.accordion dd:last-of-type {
    position: relative;
    top: -1px;
}
.accordion_arrow {
    position: absolute;
    right: 20px;
    top: 6px;
}
tr {
    padding: 5px;
}
td {
    border-collapse: collapse;
    padding: 10px;
    min-width: 170px;
}

/* =============== INFORMASJON =============== */
#beskrivelse {
    word-break: break-all;
    padding-top: 10px;
}
.info_flex {
    width: 100%;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -ms-flex-pack: distribute;
        justify-content: space-around;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: reverse;
        -ms-flex-direction: row-reverse;
            flex-direction: row-reverse;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    height: auto;
    -ms-flex-line-pack: stretch;
        align-content: stretch;
}

.info_flex_item {
    -webkit-box-flex: 1;
        -ms-flex-positive: 1;
            flex-grow: 1;
    -ms-flex-negative: 1;
        flex-shrink: 1;
    -ms-flex-item-align: start;
        align-self: flex-start;
    height: auto;
    width: 330px;
    margin-top: 25px;
}
/* =============== BILDER =============== */
.place_photos {
    background: #f2f2f2;
    max-width: 800px;
    padding: 20px;
    margin-bottom: 20px;
    margin-top: 30px;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -ms-flex-pack: distribute;
        justify-content: space-around;
    display: -ms-flexbox;
    display: -webkit-box;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -ms-flex-line-pack: stretch;
        align-content: stretch;
}
.place_photos_size {
    width: 330px;
    -webkit-box-flex: 1;
        -ms-flex-positive: 1;
            flex-grow: 1;
    -ms-flex-negative: 1;
        flex-shrink: 1;
    padding-left: 10px;
    padding-right: 10px;
    margin-bottom: 10px;
}

.read_more {
    max-height: 100px;
    width: 200px;
    -webkit-transition: max-height 0.5s ease-out;
    transition: max-height 0.5s ease-out;
    overflow: hidden;
    cursor: pointer;
}

.read_more:focus {
    max-height: 2000px;
    width: 200px;
    -webkit-transition: max-height 0.6s ease-in;
    transition: max-height 0.6s ease-in;
    outline: none;
    overflow: hidden;
}

#se_mer_knapp {
    text-decoration: none;
    color: #444;
    -webkit-transition: 0.2s;
    transition: 0.2s;
}

#text_area {
    -webkit-transition: 0.5s ease;
    transition: 0.5s ease;
}