
#header {
    width: 100%;
    height: 400px;
    background: #6DAFC7;
    color: #fff;
    position: relative;
}

#top_info {
    min-width: 400px;
    max-width: 900px;
    padding-left: 20px;
    padding-right: 20px;
    background: transparent;
    padding-bottom: 20px;
    margin-top: 0px;
    margin-left: auto;
    margin-right: auto;
    z-index: -1;
}

#top_info hr {
    width: 240px;
    border: 0;
    height: 1px;
    background: #ddd;
    margin-left: -20px;
}

.top_thumbnail {
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 35px;
    border-radius: 10px;
    margin-top: -70px;
}

.thumbnail_radius {
    border-radius: 1px;
    border: 10px solid #fff;
    -webkit-box-shadow: 0px 0px 21px -8px rgba(0,0,0,0.75);
    -moz-box-shadow: 0px 0px 21px -8px rgba(0,0,0,0.75);
    box-shadow: 0px 0px 21px -8px rgba(0,0,0,0.75);
}

.top_address {
    text-align: center;
    font-family: 'Montserrat', sans-serif;
    font-weight: 300;
    color: #444;
}

.side_social {
    margin-top: 20px;
}

#go_back {
    position: absolute;
    margin-top: 100px;
    z-index: 30;
    padding-top: 10px;
    padding-bottom: 20px;
    padding-left: 10px;
    padding-right: 10px;
    background: #fff;
    width: 72.5px;
    height: 15px;
    overflow: hidden;
    -webkit-transition: width 0.1s;
    transition: width 1s;
    line-height: 28px;
    font-family: 'Montserrat';
    white-space: nowrap;
    color: #000;
}

#go_back a {
    position: absolute;
    text-decoration: none;
    color: #000;
    transition: 1s;
}

#go_back:hover {
    width: 240px;
}

#wrapper {
    max-width: 1100px;
    min-height: 650px;
    height: 100%;
    margin-left: auto;
    margin-right: auto;
    position: relative;
}

#main {
    min-width: 400px;
    max-width: 800px;
    margin-top: 20px;
    margin-left: auto;
    margin-right: auto;
    height: auto;
}

.place_title {
    font-family: 'Montserrat', sans-serif;
    font-weight: 500;
    font-size: 2.5em;
    margin-bottom: 20px;
    text-align: center;
}
.place_title a, a:visited, a:link {color: #000; text-decoration: none;
}
.time_open_close {
    padding: ;
    width: 200px;
    height: 50px;
    background: #aec671;
    margin-left: auto;
    margin-right: auto;
    margin-top: 30px;
    margin-bottom: 30px;
    padding: 10px;
    position: relative;
}
.time_open_close h2 {
    color: #fff;
    text-align: center;
    font-size: 25pt;
    margin-top: -10px;
}
.time_open_close h3 {
    color: #fff;
    text-align: center;
    font-size: 12pt;
}
.place_photos {
    background: #ddd;
    min-height: 400px;
    max-width: 800;
    padding: 20px;
    margin-bottom: 20px;
    margin-top: 30px;
    flex-wrap: wrap;
    justify-content: space-around;
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
}
.place_photos_size {
    max-width: 550px;
    flex-grow: 1;
    flex-shrink: 0;
}

.read_more {
    max-height: 100px;
    transition: max-height 0.5s ease-out;
    overflow: hidden;
    cursor: pointer;
}

.read_more:focus {
    max-height: 1000px;
    transition: max-height 0.6s ease-in;
    outline: none;
}

#se_mer_knapp {
    text-decoration: none;
    color: #444;
    transition: 0.2s;
}

#text_area {
    transition: 0.5s ease;
}

#beskrivelse {
    font-family: helvetica, sans-serif;;
    font-size: 120%;
    white-space: pre;

}