/* 
Huskeliste:
background: #f5756c, #fd5481;
display:flex; display: inline-flex, align-content, align-items, align-self, justify-content and order.
http://caniuse.com/#home
http://shouldiprefix.com/#gradients
 */

/* =============== Header =============== */
#header {
	background: -moz-linear-gradient(top, #f5756c 0%, #fd5481 100%);
	background: -webkit-linear-gradient(top, #f5756c 0%, #fd5481 100%); /* WebKit, Blink, Edge */
	background: -o-linear-gradient(top, #f5756c 0%, #fd5481 100%);
	background: -ms-linear-gradient(top, #f5756c 0%, #fd5481 100%); /* Internet Explorer 10-11 */
	background: linear-gradient(to bottom, #f5756c 0%, #fd5481 100%)
	width: 100%;
	height: 100vh;
	position: relative;
	overflow: hidden;
}
#header_search_outer {
	width: 100%;
	height: 200px;
	font-family: 'Montserrat', sans-serif;
	position: absolute;
	z-index: 3;
}
.header_search_logo {
	position: relative;
	width: 200px;
	height: auto;
	z-index: 2;
	margin-left: auto;
	margin-right: auto;
	text-align: center;
	user-drag: none; 
	user-select: none;
    -moz-user-select: none;
    -webkit-user-drag: none;
    -webkit-user-select: none;
    -ms-user-select: none;
}
.header_search_inner {
	width: 400px;
	height: auto;
	margin-left: auto;
	margin-right: auto;
	margin-top: 12vh;
	position: relative;
	z-index: 4;
	padding: 10px;
	text-align: center;
	color: #fff;
	font-size: calc(12px + 2vw); /* Juster tekst størrelsen responsive */
	overflow: hidden;
}
.header_img {
	background: url('img/vulkan_bw.jpg') center center;
	background-position: center;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
	width: 100%;
	height: 100vh;
	opacity: 0.2;
	-webkit-filter: blur(5px);
	-moz-filter: blur(5px);
	-o-filter: blur(5px);
	-ms-filter: blur(5px);
	filter: blur(5px);
	z-index: 2;
}
input[type=text] {
    width: 190px;
    -webkit-transition: width 0.4s ease-in-out;
    color: #000;
    font-size: 17pt;
    font-weight: 300;
    text-align: center;
    transition: width 0.5s ease-in-out;
	font-family: 'Roboto', sans-serif;
	background: transparent;
	border-bottom: 2px solid #fff;
	border-top: 0; border-right: 0;border-left: 0;
	padding-bottom: 5px;
}
input[type=text]:focus {
    width: 305px;
    outline: 0;
}
input[type=text]::-webkit-slider-thumb {
  -webkit-appearance: none;
}
::-webkit-input-placeholder { /* WebKit, Blink, Edge */
    color:    #444;
}
:-moz-placeholder { /* Mozilla Firefox 4 to 18 */
   color:    #444;
   opacity:  1;
}
::-moz-placeholder { /* Mozilla Firefox 19+ */
   color:    #444;
   opacity:  1;
}
:-ms-input-placeholder { /* Internet Explorer 10-11 */
   color:    #444;
}
/* Midlertidig knapp */
a.button {
	background: transparent;
	color: #fff;
    text-decoration: none;
    color: initial;
    font-size: 8px;
    padding: 5px;
    border: 0px solid #fff;
    opacity: 0.3;
    font-family: 'Montserrat', sans-serif;
    font-weight: 700;
    letter-spacing: 3px;
    text-transform: uppercase;
    transition: letter-spacing 0.5s linear, opacity 0.5s;
 }
 a.button:hover {
 	opacity: 1;
 	letter-spacing: 2px;
 	cursor: pointer;
 }

 /* Top menu */

#top_menu_fadein {
	display: none; /* blir fjernet av .fadein i JS */
    position: fixed;
    top: 0;
    width: 100%;
    height: 60px;
    background: #fff;
    z-index: 6;
    margin: 0;
    -webkit-box-shadow: 0px 0px 58px 0px rgba(0,0,0,0.3);
    -moz-box-shadow: 0px 0px 58px 0px rgba(0,0,0,0.3);
    box-shadow: 0px 0px 58px 0px rgba(0,0,0,0.3);
    text-align: center;
}
.top_menu {
	font-family: 'Montserrat', sans-serif;  
	font-size: 0.7em;        
	text-align: center;
	width: 100%;    
	padding: 5px 0px 5px 0px;   
	margin-left: auto;
	margin-right: auto;
	margin-top: 17px;
	display: flex;
  	flex-flow: row wrap;
  	/* This aligns items to the end line on main-axis */
  	justify-content: space-around;
}

.top_menu a {  
	color: #000;     
	width: 200px;
	margin: 0px 0px 0px 0px;  
	transition: 0.5s;
	text-align: center;
	text-decoration: none;
	text-transform: uppercase;
	letter-spacing: 2px;

}
.top_menu a:hover {
	color: #fd5481;
	letter-spacing: 1px;
}
 /* =============== UNDER HEADER =============== */

#wrapper {
	background: transparent;
	position: relative;
	width: 100%;
}
#main {
	background: #fff;
	max-width: 760px;
	min-width: 400px;
	min-height: 600px;
	margin-left: auto;
	margin-right: auto;
	padding: 20px;
}
#mainflex {
	width: 100%;
	flex-wrap: wrap;
	justify-content: space-around;
	display: -webkit-box;
 	display: -moz-box;
 	display: -ms-flexbox;
	display: -webkit-flex;
 	display: flex;
 	height: auto;
}
.mainflex_item {
	flex-grow: 1;
	flex-shrink: 1;
	height: 300px;
}
/* =============== FOOTER =============== */

#footer {
	background: #1b1b1b;
	width: 100%;
	height: auto;
	color: #efefef;
	font-size: 8pt;
}
.inner_footer {
	max-width: 800px;
	height: 150px;
	z-index: 999;
	margin-right: auto;
	margin-left: auto;
	padding-top: 20px;
	padding-left: 20px;
	padding-right: 20px;
}
.footer_social_img {
	filter: grayscale(1);
	transition: 0.5s;
}
.footer_social_img:hover {
	filter: grayscale(0);
}
.footer_copyright {
	color: #555;
	font-family: 'Montserrat', sans-serif;
	font-size: 9px;
}