/* 
Huskeliste:
background: #f5756c, #fd5481;
display:flex; display: inline-flex, align-content, align-items, align-self, justify-content and order.
http://caniuse.com/#home
http://shouldiprefix.com/#gradients
 */

/* === Header === */
#header {
	background: -moz-linear-gradient(top, #f5756c 0%, #fd5481 100%);
	background: -webkit-gradient(left top, left bottom, color-stop(0%, #f5756c), color-stop(100%, #fd5481)); /* WebKit, Blink, Edge */
	background: -webkit-linear-gradient(top, #f5756c 0%, #fd5481 100%); /* WebKit, Blink, Edge */
	background: -o-linear-gradient(top, #f5756c 0%, #fd5481 100%);
	background: -ms-linear-gradient(top, #f5756c 0%, #fd5481 100%); /* Internet Explorer 10-11 */
	background: linear-gradient(to bottom, #f5756c 0%, #fd5481 100%)
	width: 100%;
	height: 400px;
	position: relative;
}
#header_search_outer {
	width: 100%;
	height: 200px;
	font-family: 'Montserrat', sans-serif;
	position: absolute;
	z-index: 3;
}
.header_search_inner {
	width: 400px;
	height: 200px;
	margin-left: auto;
	margin-right: auto;
	margin-top: 30px;
	position: relative;
	z-index: 4;
	padding: 10px;
	text-align: center;
	color: #fff;
	font-size: 2.5em;
}
.header_img {
	background: url('img/vulkan.jpg') center center;
	background-position: center;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
	width: 100%;
	height: 400px;
	opacity: 0.3;
	-webkit-filter: blur(5px);
	moz-filter: blur(5px);
	-o-filter: blur(5px);
	-ms-filter: blur(5px);
	filter: blur(5px);
	z-index: 2;
}
input[type=search] {
	/* Styling funker ikke i safari */
    width: 190px;
    -webkit-transition: width 0.4s ease-in-out;
    color: #000;
    font-size: 17pt;
    font-weight: 300;
    transition: width 0.4s ease-in-out;
	font-family: 'Roboto', sans-serif;
	background: transparent;
	border-bottom: 2px solid #fff;
	border-top: 0; border-right: 0;border-left: 0;
	padding-bottom: 5px;
}
input[type=search]:focus {
    width: 305px;
    outline: 0;
}
input[type=search]::-webkit-slider-thumb {
  -webkit-appearance: none;
}
::-webkit-input-placeholder { /* WebKit, Blink, Edge */
    color:    #444;
}
:-moz-placeholder { /* Mozilla Firefox 4 to 18 */
   color:    #444;
   opacity:  1;
}
::-moz-placeholder { /* Mozilla Firefox 19+ */
   color:    #444;
   opacity:  1;
}
:-ms-input-placeholder { /* Internet Explorer 10-11 */
   color:    #444;
}
/* Midlertidig knapp*/
a.button {
	color: #fff;
    text-decoration: none;
    color: initial;
    font-size: 12px;
    padding: 5px;
    background: transparent;
    border: 2px solid #fff;
    opacity: 0.1;
    transition: 0.5s;
 }
 a.button:hover {
 	opacity: 0.5;
 }

 /* === UNDER HEADER === */

#wrapper {
	background: #000;
	position: relative;
	width: 100%;
}
#main {
	background: #fff;
	max-width: 800px;
	min-width: 400px;
	min-height: 200px;
	margin-left: auto;
	margin-right: auto;
	text-align: center;
	padding: 10px;
}
