body {

}
#topbar {
	padding-top: 15px;
	padding-bottom: 15px;
	text-align: center;
	background: #000;
	position: fixed;
	width: 100%;
	opacity: 0.3;
	transition: 0.3s;
	z-index: 1;
}
#topbar:hover {
	opacity: 0.6;
}
#topbar a {
	text-decoration: none;
	opacity: 1;
	color: #fff;
}
#header {
	width: 100%;
	height: 400px;
	background: #6DAFC7;
	color: #fff;
	position: relative;
}
#go_back {
	position: absolute;
	margin-top: 100px;
	z-index: 30;
	padding-top: 10px;
	padding-bottom: 20px;
	padding-left: 10px;
	padding-right: 10px;
	background: #fff;
	width: 80px;
	height: 15px;
	overflow: hidden;
	-webkit-transition: width 0.1s;
    transition: width 1s;
    line-height: 30px;
    font-family: 'Montserrat';
}
#go_back a {text-decoration: none; color: #000; transition: 1s;} #go_back a:hover {letter-spacing: 1px;}
#go_back:hover {
	width: 270px;
}
#wrapper {
	max-width: 1100px;
	height: auto;
	position: relative;
	margin-left: auto;
	margin-right: auto;
}
#main {
	float: right;
	min-width: 400px;
	max-width: 800px;
	margin-top: 20px;
	height: auto;
}
.place_title {
	font-family: 'Montserrat', sans-serif;
	font-weight: 500;
	font-size: 2.5em;
	margin-bottom: 20px;
}
.place_photos {
	background: #ddd;
	height: 400px;
	max-width: 100%;
	padding: 20px;
	margin-bottom: 20px;
}

#se_mer_knapp {
	text-decoration: none;
	color: #444;
	transition: 0.2s;
}
#text_area {
	transition: 0.5s ease;
}
#sidebar {
	float: left;
	width: 200px;
	padding-left: 20px;
	padding-right: 20px;
	background: #efefef;
	padding-bottom: 20px;
	margin-top: -110px;
	z-index: -1;
}
#sidebar hr {
	width: 240px;
	border: 0;
	height: 1px;
	background: #ddd;
	margin-left: -20px;
}
.side_thumbnail {
	margin-left: -20px;
	margin-bottom: 20px;
}
.side_social {
	margin-top: 20px;
}