@import url('https://fonts.googleapis.com/css?family=Pacifico|Roboto:300,400|Montserrat:300,400,500,700');

/* default */
html, body {
	margin: 0;
	font-family: helvetica;
	width: 100%;
	font-family: 'Roboto', sans-serif;
}

/* Titles */
h1 {
	font-family: 'Montserrat', sans-serif;
	font-weight: 500;
}
h2 {
	font-family: 'Montserrat', sans-serif;
	font-weight: 400;
}

h3 {
	font-family: 'Montserrat', sans-serif;
	font-weight: 300;
}
.logo {
	font-family: 'Pacifico', cursive;
	font-weight: 400;
}

/* Top menu */

#top_menu_fadein {
	display: none; /* blir endret av .fadein i JS */
    position: fixed;
    top: 0;
    width: 100%;
    height: 60px;
    background: #fff;
    z-index: 6;
    margin: 0;
    -webkit-box-shadow: 0px 0px 58px 0px rgba(0,0,0,0.3);
    -moz-box-shadow: 0px 0px 58px 0px rgba(0,0,0,0.3);
    box-shadow: 0px 0px 58px 0px rgba(0,0,0,0.3);
    text-align: center;
}
.top_menu {
	font-family: 'Montserrat', sans-serif;  
	font-size: 0.7em;        
	text-align: center;
	width: 100%;    
	padding: 5px 0px 5px 0px;   
	margin-left: auto;
	margin-right: auto;
	margin-top: 17px;
	display: flex;
  	flex-flow: row wrap;
  	justify-content: space-around;
}

.top_menu a {  
	color: #000;     
	width: 200px;
	margin: 0px 0px 0px 0px;  
	transition: 0.5s;
	text-align: center;
	text-decoration: none;
	text-transform: uppercase;
	letter-spacing: 2px;
	padding: 10px;
	margin-top: -10px;

}
.top_menu a:hover {
	color: #6DAFC7;
	letter-spacing: 1px;
}
/* =============== FOOTER =============== */

#footer {
	background: #1b1b1b;
	width: 100%;
	height: auto;
	color: #efefef;
	font-size: 8pt;
}
.inner_footer {
	max-width: 800px;
	height: 150px;
	z-index: 999;
	margin-right: auto;
	margin-left: auto;
	padding-top: 20px;
	padding-left: 20px;
	padding-right: 20px;
}
.footer_social_img {
	filter: grayscale(1);
	transition: 0.5s;
}
.footer_social_img:hover {
	filter: grayscale(0);
}
.footer_copyright {
	color: #555;
	font-family: 'Montserrat', sans-serif;
	font-size: 9px;
}