/* === Header === */
#header {
	background: -moz-linear-gradient(top, #f5756c 0%, #fd5481 100%);
	background: -webkit-gradient(left top, left bottom, color-stop(0%, #f5756c), color-stop(100%, #fd5481)); /* WebKit, Blink, Edge */
	background: -webkit-linear-gradient(top, #f5756c 0%, #fd5481 100%); /* WebKit, Blink, Edge */
	background: -o-linear-gradient(top, #f5756c 0%, #fd5481 100%);
	background: -ms-linear-gradient(top, #f5756c 0%, #fd5481 100%); /* Internet Explorer 10-11 */
	background: linear-gradient(to bottom, #f5756c 0%, #fd5481 100%)
	width: 100%;
	height: 200px;
	position: relative;
	overflow: hidden;
}
#header_search_outer {
	width: 100%;
	height: 200px;
	font-family: 'Montserrat', sans-serif;
	position: absolute;
	z-index: 3;
	
}
.header_search_inner {
	width: 400px;
	height: auto;
	margin-left: auto;
	margin-right: auto;
	margin-top: 4vh;
	position: relative;
	z-index: 4;
	padding: 10px;
	text-align: center;
	color: #fff;
	font-size: calc(12px + 0.8vw); /* Juster tekst størrelsen responsive */
	overflow: hidden;
}
.header_img {
	background: url('img/vulkan_bw.jpg') center center;
	background-position: center;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
	width: 100%;
	height: 100vh;
	opacity: 0.2;
	-webkit-filter: blur(5px);
	-moz-filter: blur(5px);
	-o-filter: blur(5px);
	-ms-filter: blur(5px);
	filter: blur(5px);
	z-index: 2;
}
/* === UNDER HEADER === */

#wrapper {
	background: #efefef;
	position: relative;
	width: 100%;
}
#main {
	background: #fff;
	max-width: 760px;
	min-width: 400px;
	min-height: 600px;
	margin-left: auto;
	margin-right: auto;
	padding: 20px;
}
/* =============== FOOTER =============== */

#footer {
	background: #1b1b1b;
	width: 100%;
	height: auto;
	color: #efefef;
	font-size: 8pt;
}
.inner_footer {
	max-width: 800px;
	height: 150px;
	z-index: 999;
	margin-right: auto;
	margin-left: auto;
	padding-top: 20px;
	padding-left: 20px;
	padding-right: 20px;
}
.footer_social_img {
	filter: grayscale(1);
	transition: 0.5s;
}
.footer_social_img:hover {
	filter: grayscale(0);
}
.footer_copyright {
	color: #555;
	font-family: 'Montserrat', sans-serif;
	font-size: 9px;
}